
  <body>
    <h1>Contact</h1>
    <main>
      <% @contacts.each do |contact| %>
        <li> Name: <%= contact.full_name %> </li>
        <li> Email: <%= contact.email %> </li>
        <li> Note: <%= contact.note %> </li></br>
      <% end %>
    </main>
  </body>
